In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

In [2]:
# Load the csv exported in Part I to a DataFrame

csv_path = '../WeatherPy/Output/cities.csv'
cities_df = pd.read_csv(csv_path)
cities_df.head()

,City,Cloudiness (%),Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,Saint Anthony,75,US,1584070990,64,45.02,-93.22,35.60,14.99
1,Am Timan,66,TD,1584070991,15,11.03,20.28,68.77,8.75
2,Vardø,100,NO,1584070992,86,70.37,31.11,23.56,30.69
3,Marawi,0,PH,1584070993,84,8.00,124.29,82.99,7.00
4,Lüderitz,0,NaN,1584070994,82,-26.65,15.16,64.40,12.75

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

cities_df.dtypes

City               object
Cloudiness (%)      int64
Country            object
Date                int64
Humidity            int64
Latitude          float64
Longitude         float64
Max Temp          float64
Wind Speed        float64
dtype: object

In [4]:
# Storing latitude and longitude in locations
locations = cities_df[['Latitude', 'Longitude']]

# Setting humidity as weight
humid = cities_df['Humidity']

In [5]:
# Plot Heatmap
fig = gmaps.Map()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humid, 
                                 dissipating=False, max_intensity=cities_df['Humidity'].max(),point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Map(configuration={'api_key': 'AIzaSyA4q5sEb_4YqjxUUPXYQG5hc_3OBryUlnQ'}, data_bounds=[(-46.22196093232503, -1…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [19]:
# I would like to go somewhere with weather conditions similar to Bora Bora
# Temp: 73 F to 85 F
# Humidity : 55% to 75%
# Wind Speed : 12 - 14.5 mph

vacation_df = cities_df.loc[(cities_df['Max Temp'] >= 73) & (cities_df['Max Temp'] <= 85) & (cities_df['Humidity'] >= 55) & (cities_df['Humidity'] <= 75) & (cities_df['Wind Speed'] >= 12) & (cities_df['Wind Speed'] <= 14.5)]
vacation_df

,City,Cloudiness (%),Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
51,Hithadhoo,1,MV,1584071055,69,-0.60,73.08,83.57,13.09
88,Hilo,1,US,1584070807,65,19.73,-155.09,77.00,12.75
357,Lorengau,32,PG,1584071425,72,-2.02,147.27,84.79,13.91
424,Vila do Maio,0,CV,1584071505,74,15.13,-23.22,78.80,12.75
439,Iralaya,0,HN,1584071522,71,15.00,-83.23,79.25,12.97
510,Batemans Bay,0,AU,1584071608,68,-35.72,150.18,75.99,13.00
538,Alice Town,37,BS,1584071643,71,25.72,-79.30,74.82,13.78

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [33]:
# Setting up hotel_df dataframw with additional columns to hold information
hotel_df = pd.DataFrame(vacation_df['City'],columns=['City'])
hotel_df['Name'] = ""
hotel_df['Address'] = ""
hotel_df['Price_level'] = ""
hotel_df['Rating'] = ""

hotel_df.head()

             City Name Address Price_level Rating
51      Hithadhoo
88           Hilo
357      Lorengau
424  Vila do Maio
439       Iralaya

In [ ]:
# Find the closest hotel within 5000m of each city

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "39.952583,-75.16522",  # philadelphia coords,
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")